@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

$sedan-accent-color: hsl(31, 77%, 52%);
$suv-accent-color: hsl(184, 100%, 22%);
$luxury-accent-color: hsl(179, 100%, 13%);
$text-bold-color: hsl(0, 0%, 95%);
$text-color: hsla(0, 0%, 100%, 0.75);

$item-padding: 25px 20px 25px 20px;

$title-font: 'Big Shoulders Display', cursive;
$body-font: 'Lexend Deca', sans-serif;